/* -----------------------------------
  css reset
----------------------------------- */
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* -----------------------------------
  global
----------------------------------- */
/* global > color
----------------------------------- */
:root {
  --color-base: #333;
  --color-main: #1c4b4f;
  --color-sub: #f7fafa;
  --color-white: #fff;
  --gradient-kv: linear-gradient(135deg, rgba(255, 255, 255, 1), rgba(243, 247, 247, 1) 100%, rgba(250, 251, 251, 1) 50%);
}

/* global > content-width
----------------------------------- */
:root {
  --width-content: 1120px;
  --width-content-s: 800px;
}

/* global > device-width
----------------------------------- */
:root {
  --width-sp: 390px;
  --width-pc: 1440px;
}

/* global > font
----------------------------------- */
:root {
  --font-family-base: -apple-system,
  BlinkMacSystemFont,
  "Hiragino Kaku Gothic ProN",
  "Noto Sans JP",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}

/* -----------------------------------
  foundation
----------------------------------- */
/* foundation > base
----------------------------------- */
html {
  font-size: 100%;
  scroll-padding-top: 56px;
}
@media screen and (min-width: 768px) {
  html {
    scroll-padding-top: 80px;
  }
}

body {
  background-color: var(--color-white);
  color: var(--color-base);
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}
body.no-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
  vertical-align: bottom;
}

/* -----------------------------------
  utility
----------------------------------- */
/* visually-hidden */
.u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
}

/* disabled link */
.u-disabled-link {
  pointer-events: none;
  text-decoration: none;
  opacity: 0.3;
  cursor: default;
}

/* no-sp */
.u-no-sp {
  display: none;
}

@media screen and (min-width: 768px) {
  .u-no-sp {
    display: block;
  }
}
/* no-pc */
@media screen and (min-width: 768px) {
  .u-no-pc {
    display: none;
  }
}
/* -----------------------------------
  layout
----------------------------------- */
/* layout > container
----------------------------------- */
.l-container,
.l-container-s {
  padding-inline: 6.1538461538%;
}

@media screen and (min-width: 768px) {
  .l-container,
.l-container-s {
    width: 100%;
    max-width: calc(var(--width-content) + 160px);
    padding-inline: 80px;
    margin-inline: auto;
  }
  .l-container-s {
    max-width: calc(var(--width-content-s) + 160px);
  }
}
/* layout > section
----------------------------------- */
.l-section-top {
  padding-block: 80px;
}

.l-section {
  padding-block: 64px;
}

@media screen and (min-width: 768px) {
  .l-section-top {
    padding-block: 120px;
  }
  .l-section {
    padding-block: 80px;
  }
}
/* layout > section-body
----------------------------------- */
.l-section-body-top {
  -webkit-margin-before: 40px;
          margin-block-start: 40px;
}

.l-section-body {
  -webkit-margin-before: 32px;
          margin-block-start: 32px;
}

@media screen and (min-width: 768px) {
  .l-section-body {
    -webkit-margin-before: 40px;
            margin-block-start: 40px;
  }
}
.c-list-green-line {
  display: grid;
  gap: 8px;
  padding: 0;
}

.c-list-green-line-item {
  display: grid;
  grid-template-columns: 3px 1fr;
  gap: 0.5em;
}
.c-list-green-line-item::before {
  content: "";
  width: 3px;
  height: 18px;
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
  background-color: var(--color-main);
}
/*# sourceMappingURL=style.css.map */