/* -----------------------------------
  global
----------------------------------- */

/* global > color
----------------------------------- */
:root {
  --color-base: #333;
  --color-main: #1c4b4f;
  --color-accent: #d9c7b8;
  --color-bg: #fff;
  --color-bg-sub: #f5f7f6;
}

/* global > content-width
----------------------------------- */
:root {
  --width-content: 960px;
  --width-content-s: 800px;
}

/* global > device-width
----------------------------------- */
:root {
  --width-sp: 390px;
  --width-pc: 1440px;
}

/* global > font
----------------------------------- */
:root {
  --font-family-base: -apple-system,
  BlinkMacSystemFont,
  "Hiragino Kaku Gothic ProN",
  "Noto Sans JP",
  "Hiragino Sans",
  Meiryo,
  sans-serif;;
}
